/*
основний колір тексту #757575
другорядний колір тексту #212121
білий колір #FFFFFF
чорний колір #000000
колір акценту #2196F3
фон героя та футера #2F303A
фон секції Наша команда та фон кнопок #F5F4FA
колір рамки хедера #ECECEC
білий колір #FFFFFF 60%
ховер кнопки #188CE8

*/

:root {
    --primary-text-color--:#757575;
    --secondary-text-color--:#212121;
    --white-color--:#FFFFFF;
    --white-color-footer-link--:rgba(255, 255, 255, 0.6);
    --black-color--:#000000;
    --accent-color--:#2196F3;
    --hero-footer-background-color--:#2F303A;
    --secondary-background-color--:#F5F4FA;
    --border-header-color--:#ECECEC;
    --accent-color-focus--:#188CE8;
    --cards-border-color--:#EEEEEE;
    --hero-gradient--: #C4C4C4;
    --icons-color-main--: #AFB1B8;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color--);
    background-color: var(--white-color--);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/*Хедер*/

.head {
    border-bottom: 1px solid var(--border-header-color--); 
}

.all-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--accent-color--);
    font-family: Raleway, sans-serif;
}

.studio-black {
    color: var(--black-color--);
}

.site-nav {
    display: flex;
    margin-left: 93px;

    list-style: none;

    color: var(--secondary-text-color--);
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;  

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color--);
}

.site-nav .current {
    color: var(--accent-color--);
 }

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color--);
}

.contact {
    display: flex;
    margin-left: auto;

    list-style: none;
}

.contact .item + .item {
    margin-left: 30px;
}

.contact .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color--);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color--);
    fill: var(--accent-color--);
}

.item .link {
    display: flex;
    align-items: center;
}

.icon-envelope {
    margin-right: 10px;

    fill: currentColor;
}

.icon-envelope:hover,
.icon-envelope:focus {
    fill: var(--accent-color--);
}

.icon-smartphone {
    margin-right: 10px;

    fill: currentColor;
}

.icon-smartphone:hover,
.icon-smartphone:focus {
    fill: var(--accent-color--);
}


/*Герой*/

.hero {
    background-color: var(--hero-gradient--);

    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    padding: 200px 0;
}

.hero-title {
    width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color--);
}

.container .hero-button {   
    padding: 10px 32px;
    min-width: 216px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-color--);
    color: var(--white-color--);
    border-color: transparent;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color-focus--);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*Наші переваги*/


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.feature-list .item {
    max-width: 270px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--secondary-background-color--)
}


.feature-list .item:not(:last-child) {
   margin-right: 30px;
}

.feature-title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-text-color--);
}

.feature-text {
    line-height: 1.71;
}


/*Чим ми займаємося*/
.section-work {
    padding-top: 0px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--secondary-text-color--);
}

.work-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.picture:not(:last-child) {
    margin-right: 30px;
}

/*Наша команда*/

.team {
    background-color: var(--secondary-background-color--);
}

.team-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.cards {
    width: 270px;

    background-color: var(--white-color--);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.cards:not(:last-child) {
    margin-right: 30px;
}

.team-content {
    padding: 30px 0;

    text-align: center;
}

.team-list .name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 

    color: var(--secondary-text-color--);
}

.team-list .position { 
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19; 
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    width: 44px;
    height: 44px;


}

.social-list .social-item:not(:last-child) {
    margin-right: 10px;
}

.icon-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    fill: var(--icons-color-main--);
    background-color: var(--white-color--);
}

.icon-networks:hover,
.icon-networks:focus {
    background-color: var(--accent-color--);
    fill: var(--white-color--);
}


/* Постійні клієнти */

.company-list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.company-item {
    width: 170px;
    height: 92px;
}

.company-item:not(:last-child) {
    margin-right: 30px;
} 

.icon-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    fill: var(--icons-color-main--);
    border: 1px solid var(--icons-color-main--);
    border-radius: 4px;
}

.icon-company:hover,
.icon-company:focus {
    fill: var(--accent-color--);
    border-color: var(--accent-color--);
}



/*Футер*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-footer-background-color--);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--accent-color--);
}

.studio-white {
    color: var(--white-color--);
}

.contacts:not(:last-child) {
  margin-bottom: 9px;  
}

.map {
    line-height: 1.71;
    text-decoration: none;

    color: var(--white-color--);
}


.contacts .link {  
    line-height: 1.71;
    text-decoration: none;

    color: var(--white-color-footer-link--);
}

.map:hover,
.map:focus {
    color: var(--accent-color--);
}

.link:hover,
.link:focus {
    color: var(--accent-color--);
}


.address {
    margin-right: 70px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-title {
    margin-bottom: 20px;

    color: var(--white-color--);
}

.social-icon-footer {
    fill: var(--white-color--);
    background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    fill: var(--white-color--);
    background-color: var(--accent-color--);
}


/*Портфоліо*/
/*Наші проекти*/

.button-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 50px 0;
}

.button-list li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button {
    padding: 6px 22px;
    min-width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color--);
    background-color: var(--secondary-background-color--);

    border-color: transparent;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-color--);
    background-color: var(--accent-color--);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

.portfolio-cards {
    flex-basis: calc((100% - 60px) / 3);
     
    list-style: none;

    background-color: var(--white-color--);
}
 
.portfolio-content {
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px 24px;

    border: 1px solid var(--cards-border-color--);
    border-top: none;
}

.portfolio-list .title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color--);
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.88;

    color: var(--primary-text-color--);
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}